.git
.env
.env.*
**/.env
**/.env.*
.secrets
**/.secrets
.action-server
**/.action-server
.venv
**/.venv
venv
**/__pycache__
**/*.pyc
devdata
output
logs
certs
node_modules
**/node_modules
*.log
*.pem
*.key
Dockerfile
compose.yaml
